@font-face {
  font-family: '3X5';
  src: url(./fonts/3X5.TTF) format('truetype');
}

.logo {
  font-family: '3X5';
  font-size: 50px;
  padding-left: 15px;
}


.details-box {
  padding: 20px !important;
  margin-top:20px;
  text-align: center;
  background-color: #fff8e1 !important;
  border: 2px dashed #ff8f00;
}

.grid {
  /*min-width: 480px;*/
}

a {
  color: #ff8f00 !important;
}


.pen{
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.2);
  margin-right: 2px; 
  cursor: pointer;
  transition: all ease 0.1s;
}

.pen:hover {
  border-color: rgba(0, 0, 0, 1);
}

.pen.eraser {
  float: left;
  color: rgba(0, 0, 0, 0.2);
  transition: all ease 0.1s;
}

.pen.eraser:hover {
  color: rgba(0, 0, 0, 1);
}

.pen.eraser i{
  font-size: 28px;
  margin-top: 8px;
  margin-left: 6px;
}


.result{
  white-space: nowrap;
  width: 100%;
  border: 1px solid #000000;
  overflow-x: scroll;
  text-overflow: clip;
  padding: 5px;
}

.buttons {
  width: 100%;
}

#PBotCanvas {
  /*margin-left: calc(50% - 240px);*/
  margin-top: 10px;
  cursor: none;
  display: block;
}

.controls {
  margin-bottom: 20px;
}

footer {
  width: 100%;
  padding: 10px;
  text-align: center;
  bottom: 0;
  background-color: #010101 !important;
  color: white;
  position: relative;
}